<h1>Matches</h1>

<h2>All users</h2>


<% @users.each do |user| %>
  <% if user.admin? %>
<div class="row admin_row">
  <div class="col-xs-6 text-right">
    <p>Email: <%= user.email %></p>
  </div>
  <div class="col-xs-6">
    <%= link_to "Admin", edit_user_path(user), class: "btn btn-success admin_btn"  %>
  </div>
</div>
  <% elsif user.not_admin? %>
  <div class="row admin_row">
    <div class="col-xs-6 text-right">
      <p>Email: <%= user.email %></p>
    </div>
    <div class="col-xs-6">
      <%= link_to "Student", edit_user_path(user), class: "btn btn-primary admin_btn"  %>
    </div>
  </div>
  <% end %>
<% end %>
