<% @students.each do |student| %>
<ul>
<li><%= student.email %></li>
</ul>
<% end %>

<h1>All combinations</h1>
<ol>

<li><%= @pair.combinations %></li>

</ol>



<%= link_to show_pair_path do %>
<div class="btn btn-primary">
  Get New Pair
</div>
<% end %>
