
<h1>All combinations</h1>
<ol>

<li><%= @pair.pair_per_day %></li>
<li><%= @pair.pair_per_day %></li>
<li><%= @pair.pair_per_day %></li>
<li><%= @pair.pair_per_day %></li>



</ol>




<div class="btn btn-primary">
  Get New Pair
</div>
