
<h1>StudentGenerator</h1>

<% if user_signed_in? && current_user.not_admin? %>
<%= link_to "Students", users_path %>
<% end %>
<% if user_signed_in?  && current_user.admin? %>
<%= link_to "Admin Settings", admins_path %>
<% end %>
