
 @import "bootstrap-sprockets";
 @import "bootstrap";

.admin_row, .non_admin_row {
  margin-bottom: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid #ccc;
}

.admin_btn {
  margin-left: 25px;
  width: 200px;
}

.admin_tag {
  background-color: navy;
  color: #fff;
  border-radius: 25px;
  padding: 5px;
}

.student_tag {
  background-color: green;
  color: #fff;
  border-radius: 25px;
  padding: 5px;
}
