
 @import "bootstrap-sprockets";
 @import "bootstrap";

.admin_row, .non_admin_row {
  margin-bottom: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid #ccc;
}

.admin_btn {
  margin-left: 25px;
  width: 200px;
  background-color: green !important;
}

.student_btn {
  margin-left: 25px;
  width: 200px;
  background-color: navy !important;
}

.admin_tag {
  background-color: navy;
  color: #fff;
  border-radius: 25px;
  padding: 5px;
}

.student_tag {
  background-color: green;
  color: #fff;
  border-radius: 25px;
  padding: 5px;
}

.inner_all {
  padding-left: 40px;
  padding-top: 30px;
  height: 460px;
  overflow-y: scroll;
  border: 1px solid #ccc;
  border-radius: 10px;
}

.inner_admin {
  padding-left: 40px;
  padding-top: 30px;
  height: 200px;
  overflow-y: scroll;
  border: 1px solid #ccc;
  border-radius: 10px;
}

.inner_student {
  padding-left: 40px;
  padding-top: 30px;
  height: 200px;
  overflow-y: scroll;
  border: 1px solid #ccc;
  border-radius: 10px;
}
