
 @import "bootstrap-sprockets";
 @import "bootstrap";

#floris {
  position: fixed;
  bottom: 400px;
  right: 100px;
  height:250px;
  -webkit-animation:spin 3s linear infinite;
}

#anthony {
  position: fixed;
  bottom: 300px;
  right: 60px;
  height:250px;
  -webkit-animation:spin 1.5s linear infinite;
}

#anja {
  position: fixed;
  bottom: 300px;
  right: 20px;
  height:200px;
  -webkit-animation:spin 4s linear infinite;
}

@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }


.admin_row, .non_admin_row {
  margin-bottom: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid #ccc;
}

.admin_btn {
  margin-left: 25px;
  width: 200px;
  background-color: green !important;
}

.you_btn {
  margin-left: -30px;
}

.student_btn {
  margin-left: 25px;
  width: 200px;
  background-color: navy !important;
}

.admin_tag {
  background-color: navy;
  color: #fff;
  border-radius: 25px;
  padding: 5px;
}

.you_tag {
  background-color: red;
  color: #fff;
  width: 41px;
  border-radius: 25px;
  padding: 5px;
}

.student_tag {
  background-color: green;
  color: #fff;
  border-radius: 25px;
  padding: 5px;
}

.inner_all {
  padding-left: 40px;
  padding-top: 30px;
  height: 460px;
  overflow-y: scroll;
  border: 1px solid #ccc;
  border-radius: 10px;
}

.inner_admin {
  padding-left: 40px;
  padding-top: 30px;
  height: 200px;
  overflow-y: scroll;
  border: 1px solid #ccc;
  border-radius: 10px;
}

.inner_student {
  padding-left: 40px;
  padding-top: 30px;
  height: 200px;
  overflow-y: scroll;
  border: 1px solid #ccc;
  border-radius: 10px;
}

.pair_today {
  list-style-type: none;
  margin-top: 10px;
}

.all_pairs {
  box-shadow: 1px 1px 10px #ccc;
  width: 500px;
  margin: auto;
  font-size: 20px;
  background-color: #2ba872;
  color: #fff;
  padding: 20px 30px 20px 30px;
}

.history_pairs {
  box-shadow: 1px 1px 10px #ccc;
  width: 500px;
  margin: auto;
  color: #fff;
  font-size: 17px;
  background-color: #727272;
  padding: 20px 30px 20px 30px;
}

.pair_submit {
  margin-top: 20px;
}

#login-title {
    color: #1fa67b;
    font-size: 24px;
    text-align: center;
    font-weight: bold;
    padding-bottom: 20px;
}

.btn-custom {
    color: #fff;
	background-color: #1fa67b;
}
.btn-custom:hover,
.btn-custom:focus {
    color: #fff;
}

#homepage {
  width: 100%;
  height: 650px;
  position: fixed;
  background-image: url("http://res.cloudinary.com/mdfchucknorris/image/upload/v1509019017/Student-ResourcesSmall_vbxveu.jpg");
  background-size: cover;
  margin-top: -20px;
}

.notice,.alert {
  position: absolute;
}

#homebutton {
  color: white;
}
